export AWS_DEFAULT_PROFILE="your-aws-profile-name"
export TF_VAR_headscale_api_key="your-headscale-api-key"
export TF_VAR_headscale_host="headscale.levizitting.com"
export TF_VAR_uptimekuma_username="your-uptimekuma-username"
export TF_VAR_uptimekuma_password="your-uptimekuma-password"
export TF_VAR_openbao_host="secrets.levizitting.com"
export TF_VAR_openbao_token="your-openbao-token"
